/* Safari 7.1+ */
_::-webkit-full-page-media, _:future, :root .safari_only {
  .logo_wrapper {
    transform: translate(-502px) !important;
}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution:.001dpcm) { @media {
  .logo_wrapper {
    transform: translate(-502px) !important;
}
}}
@media screen and (max-width: 1030px) {
    .logo_wrapper {
        justify-content: flex-start !important;
        transform: translate(0) !important;
    }
}
@media screen and (max-width: 950px) {
    .container, .uhat, .footer {
        width: 100% !important;
    }
    .wrapper {
        padding-top: 10% !important;
        margin-bottom: 10% !important;
    }
    .menu_content table {
    width: 88% !important;
    font-size: 0.8em;
    transform: translate(0) !important;
    margin-left: 120px !important;
    }
}
@media screen and (max-width: 900px) {
    .menu_content table {
    width: 82% !important;
    }
}
@media screen and (max-width: 600px) {
    .menu_content table {
    width: 72% !important;
    font-size: 0.6em;
    }
}
.menu {
    background-color: #1a1a1a;
    height: 70px;
    width: 100%;
    position: absolute;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_content {
    display: flex;
    justify-content: center;
}
.menu_content table {
    width: 848px;
    height: 100%;
    transform: translate(42px);
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    table-layout: fixed;
    text-align: center;
}
.menu_content table, tr, td {
    padding: 0;
    margin: 0;
}
.join_cell {
    background-color: #dc911b;
    padding-left: 5px;
    padding-right: 5px;
}
.container {
    background-color: white;
    width: 900;
}
.content {
    padding-left: 40;
    padding-right: 40;
    margin-top: 40;
    margin-bottom: 40;
}
.cover_img {
    object-fit: cover;
    object-position: 50% 20%;
}
.bg {
    background: #657985;
    background: -moz-radial-gradient(center, ellipse cover, #657985 0%, #1e2b33 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #657985 0%,#1e2b33 100%);
    background: radial-gradient(ellipse at center, #657985 0%,#1e2b33 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#657985', endColorstr='#1e2b33',GradientType=1 );
}
.wrapper {
    padding-top: 100;
    margin-bottom: 100;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
body {
    margin: 0;
}
.logo_wrapper {
    display: flex;
    justify-content: center;
    transform: translate(-450px);
}
.logo {
    position: absolute;
}
h1,h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #1a1a1a;
}
h1 {
    font-size: 52;
}
h3 {
    font-size: 20;
    text-transform: uppercase;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
}
.intro {
    padding-bottom: 20;
}
.parent {
    display: flex;
    align-items: center;
}
.parent > div {
    flex: 1;
    align-self: flex-start;
}
.left {
    padding-right: 10px;
}
.right {
    padding-left: 10px;
}
.spotlight {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #dc911b;
}
.title {
    color: #dc911b !important;
}
.info {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.info_main {
    margin-top: 28px;
}
.info_title {
    margin-bottom: 0;
}
.info_text {
    margin-top: 5px;
}
.uhat {
    background-color: #1a1a1a;
    color: white;
    width: 900;
}
.uhat p {
    color: white;
}
.sina .content {
    margin-top: 0;
}
.footer {
    background-color: #dc911b;
    height: 15px;
    width: 900px;
}
